:root {
  --primary: #133257;
  --primary-light: #46658a;
  --primary-dark: #021124;
  --black: #131313;
  --white: #f7f7f7;
  --success: #0d5743;
  --warning: #856c14;
  --danger: #853d14;
  --u: 12px;
  --u2: calc(var(--u) * 2);
  --u3: calc(var(--u) * 3);
  --u4: calc(var(--u) * 4);
  --heading: 2.25rem;
  --subheading: 1.5rem;
  --small: 0.8125rem;
}

html {
  --copy: var(--black);
  --copy-bg: var(--white);
  --copy-primary: var(--primary);
}

html[data-theme="dark"] {
  --copy: var(--white);
  --copy-bg: var(--primary-dark);
  --copy-primary: var(--white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  color: var(--copy);
  font-family: "Lato", sans-serif;
  background: var(--copy-bg);
  font-size: 16px;
}

h1 {
  font-size: var(--heading);
}

h2 {
  font-size: var(--subheading);
}
small {
  font-size: var(--small);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: 0;
  outline: none !important;
}

input:disabled,
button:disabled {
  opacity: 0.5;
}


button {
  color: inherit;
  background-color: #f4f4f4;
  outline: none;
}

h1,
h2,
h3 {
  font-weight: normal;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

[data-tippy-root] .tippy-box {
  background-color: var(--copy-bg);
  border: 1px solid var(--copy-primary);
  color: var(--copy);
}
[data-tippy-root] .tippy-arrow {
  display: none; /* always hide arrow */
}
